@import '../../variables';

.tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 62px;

    padding-top: 84px;
    padding-bottom: 74px;
}

.select {
    position: relative;

    padding-top: 30px;
}

.select-window {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    position: relative;

    height: auto;
    padding: 18px;
    width: 330px;
    border-radius: 6px;
    background-color: #ffffff;
    border: 1px solid #f3d1bf;

    font-size: 16px;
    color: $fc-dark;
    font-weight: 400;

    cursor: pointer;

    &:focus {
        outline: 1px solid #f3d1bf;
    }
}

.select-dropdown {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);

    width: 330px;
    margin: auto;
    padding: 10px 18px;

    background-color: #ffffff;
    border: 1px solid #f3d1bf;

    font-size: 16px;
    color: $fc-dark;
    font-weight: 400;
}

.select-option {
    display: block;
    padding: 10px;

    cursor: pointer;
}

.select-option_active {
    color: $fc-active;
}
